.avatarForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
form {
  width: 80%;
}
div.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.avatar img {
  width: 150px;
  height: 150px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
small.form-text.text-muted {
  font-size: 10px;
}
button {
  color: #ccc;
  background-color: rgb(6, 29, 131);
}
input#file-upload-button {
  color: #ccc;
  background-color: rgb(6, 29, 131);
}
/* rgb(77, 182, 243) */
@media screen and (min-width: 500px) {
  form {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  form {
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  form {
    width: 30%;
    font-size: 18px;
  }
}

/*DELETE PROFILE*/

.delete-form {
  margin-top: 25px;
}

.delete-form form {
  border: 2px dotted red;
  padding: 15px;
}

.delete-form button {
  background-color: red;
  color: white;
  border: none;
}

.message {
  color: red;
  font-size: 18px;
}
