.socialMedia {
  /* margin-top: 150px; */
  border-top: 2px solid rgb(245, 245, 245);
  color: rgb(6, 29, 131);
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-top: 20px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  transition-property: all;
}
.socialMedia i:hover {
  color: rgb(15, 68, 240);
  transform: translatey(-2px);
}
