.updateComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  margin-top: 100px;
}
.updateComment textarea {
  width: 100%;
  margin-bottom: 5px;
}
.updateComment button {
  width: 30%;
  margin-top: 5px;
}
@media screen and (min-width: 500px) {
  .updateComment button {
    width: 20%;
  }
}
@media screen and (min-width: 700px) {
  .updateComment button {
    width: 16%;
  }
  .updateComment textarea {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .updateComment button {
    width: 12%;
  }
  .updateComment textarea {
    width: 50%;
  }
}
